@font-face {
    font-family: 'DingTalk';
    src: url('https://qn.ctext.top/blog-img/font/DingTalk%20JinBuTi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DingTalk', sans-serif; /* sans-serif 是备用字体 */
}